@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    font-family: 'Silkscreen', cursive;
    background: rgb(225, 218, 238);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100%;
}

.container.aboutus {
    font-family: 'Poppins', sans-serif;
    background: rgb(233, 195, 195);
}

.container.newsletter {
    font-family: 'Noto Serif Gujarati', serif;
    background: rgb(231, 231, 231);
}

navbar ul {
    background: rgb(29, 29, 29);
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0;
}

navbar ul li {
    list-style-type: none;
    padding: 10px;
}

navbar ul li:hover {
    background: black;
    transition: 0.2s;
}

navbar ul li:hover a {
    text-decoration: underline;
}

navbar ul li a {
    color: white;
    text-decoration: none;
}

.title {
    margin-top: 0;
    padding-top: 25px;
    text-align: center;
}




.cards {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.card {
    background: white;
    padding: 15px 30px;
}






.contacts {
    display: grid;
    grid-template-areas:
    'contact contact contact'
    'contact contact contact';
    gap: 25px;
}

.contact {
    background: white;
    text-align: center;
    border-radius: 5px;
}

.contact h1 {
    font-size: 20px;
}

.contact h3 {
    font-size: 15px;
    font-weight: 300;
}

.contact img {
    border-radius: 50%;
    margin-top: 25px;
}

#contact1 {background:rgba(240, 128, 128, 0.5);}
#contact2 {background:rgba(224, 255, 255, 0.5);}
#contact3 {background:rgba(250, 250, 210, 0.5);}
#contact4 {background:rgba(182, 255, 188, 0.5);}
#contact5 {background:rgba(255, 160, 122, 0.5);}
#contact6 {background:rgba(144, 238, 144, 0.5);}




@media only screen and (max-width: 800px) {
    .cards {
        flex-direction: column;
    }
    .contacts {
        grid-template-areas:
        'contact contact'
        'contact contact'
        'contact contact';
    }
}

@media only screen and (max-width: 500px) {
    navbar ul {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 0;
    }
    .cards {
        flex-direction: column;
    }
    .contacts {
        grid-template-areas:
        'contact'
        'contact'
        'contact'
        'contact'
        'contact'
        'contact';
    }
}